body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
}

h1 {
  font-size: 2em;
  line-height: 3em;
}

h2 {
  font-size: 1.6em;
  line-height: 2.4em;
}

b,
strong {
  font-weight: 700;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  line-height: normal;
}

button {
  cursor: pointer;
}

textarea {
  overflow: auto;
  vertical-align: top;
}
